p {
  color: rgb(92, 92, 93);
  margin: 20px;
  padding: 20px;
}

h1 {
  color: rgb(204, 7, 7);
  margin-left: 20px;
}

h3 {
  color: rgb(211, 4, 4);
  margin-left: 20px;
  padding: 20px;
  text-align: right;
}

h5 {
  color: gray;
  margin-left: 20px;
}

h4 {
  color: rgb(123, 123, 123);
  margin-left: 20px;
}

h6 {
  color: green;
}

ul {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  list-style: none;
}

a {
  color: gray;
}

img {
  width: 90%;
  margin: 20px;
}

.headOne {
  color: rgb(0, 0, 0);
}
