p {
  color: blueviolet;
}

h6 {
  color: green;
}

#navbar {
  display: flex;
}

ul {
  list-style: none;
  justify-content: center;
}

li {
  align-content: space-around;
}
a {
  color: pink;
  display: flex;
}

img {
  width: 85%;
}
